<h3>Artists Page</h3>

{{input value=artistName class="new-artist"}}
<button {{action "addArtist" artistName}} class='add-artist'>Add Artist</button>

{{#each model as |artist|}}
  <div class="artist">
    {{link-to artist.fullName 'artists.artist' artist }}
  </div>
{{/each}}

{{outlet}}
